/* SlideShow */
section {
  min-height: 100vh;
  width: 100%;
  padding: 0;
}

#slideshow {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: 0.5s;
}

#text {
  color: whitesmoke;
  font-size: 4rem;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 4px 4px 1px #343a40;
}

#section04 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80%;
}

#section04 a {
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 4px 4px 1px #343a40;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: next_section 2s infinite;
  animation: next_section 2s infinite;
}

@-webkit-keyframes next_section {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes next_section {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* Tiles */
#tiles {
  width: 100%;
  position: relative;
}

#tiles .tile {
  float: left;
  text-align: center;
  max-width: 20%;
  position: relative;
  cursor: pointer;
}

#tiles .tile img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  transition: all 0.5s ease-out;
}

#tiles .tile p {
  display: none;
  font-size: 2.5vw;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  padding: 5%;
}

#tiles .tile #london_tiles,
#lisboa_tiles,
#madrid_tiles,
#tokyo_tiles {
  bottom: 40%;
  left: 25%;
}

#tiles .tile #newyork_tiles {
  bottom: 40%;
  left: 15%;
}

#tiles .tile img:hover {
  opacity: 0.6;
}

#tiles .tile img:hover + p {
  display: block;
}

/* ABOUT */
section #about {
  width: 100%;
  margin: 0;
}

section #about #main-text {
  font-size: 1rem;
  text-align: center;
}

section #about #main-text p {
  margin-top: 25px;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Amatic SC", cursive;
}

section #about #box_help {
  color: white;
  width: 35%;
  margin: 20px auto;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 4px;
  box-shadow: 12px 16px 35px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 150ms linear, background-color 150ms linear,
    transform 150ms linear;
}

section #about #box_help:hover {
  transform: scale(0.98);
  background-color: darken(white, 10%);
  box-shadow: 6px 8px 8px 0px rgba(0, 0, 0, 0.3);
}

section #about #box_help:first-child {
  margin-top: 30px;
}

section #about #box_help p {
  color: black;
  text-align: center;
}
