/* SlideShow */
section {
  height: 100vh;
  width: 100%;
  padding: 0;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  position: fixed;
}

.text {
  color: whitesmoke;
  font-size: 4rem;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 4px 4px 1px #343a40;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#section04 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 80%;
}

#section04 a {
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 4px 4px 1px #343a40;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: next_section 2s infinite;
  animation: next_section 2s infinite;
}

@-webkit-keyframes next_section {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes next_section {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

/* Tiles */
#tiles {
  width: 100%;
  position: relative;
}

#tiles .tile {
  float: left;
  text-align: center;
  max-width: 20%;
  position: relative;
}

#tiles .tile img {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  transition: all 0.5s ease-out;
}

#tiles .tile p {
  display: none;
  font-size: 2.5vw;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  padding: 5%;
}

#tiles .tile #london_tiles,
#lisboa_tiles,
#madrid_tiles,
#tokyo_tiles {
  bottom: 40%;
  left: 25%;
}

#tiles .tile #newyork_tiles {
  bottom: 40%;
  left: 15%;
}

#tiles .tile img:hover {
  opacity: 0.6;
}

#tiles .tile img:hover ~ p {
  display: block;
}
