/* ------------------- Page Showcase ------------------- */

#showcase_page {
  display: block;
  height: 50vh;
  margin: 100px auto 1rem auto;
  position: relative;
}
#image1 {
  background-image: url("../images/Madrid_Page/spain2.jpg");
}

#image2 {
  background-image: url("../images/Madrid_Page/plazamayor.jpeg");
}

#image3 {
  background-image: url("../images/Madrid_Page/portasol.jpeg");
}

#image1,
#image2,
#image3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: slideshow 12s linear 0s infinite;
}

#image2 {
  animation-delay: 4s;
}

#image3 {
  animation-delay: 8s;
}

@keyframes slideshow {
  25% {
    opacity: 1;
  }
  33.33% {
    opacity: 0;
  }
  91.66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
W